.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.js.map
**/*.ts
**/.vscode-test.*
.git/**
node_modules/**
.DS_Store
.tool-versions
ruby-flow-*.vsix
code-beacon-*.vsix
